.label,
.label-range {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}
.input-group {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-bottom: 2rem;
}
.label-range {
  margin-bottom: 2.5rem;
}
.btn {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: #5d3fd3;
}
