.searchbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.26);
}
.search-icon {
  margin-right: 0.5rem;
}
.searchbar-wrapper input {
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.5rem;
}
